{% extends "::base.html.twig" %}
{% block body %}
<h1>Product edit</h1>

<form action="{{ path('product_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('product_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    <li>
        <a href="#" class="jslink">
            Add a tag
        </a>
    </li>
</ul>
{% include "KhepinProductBundle:Product:js.html.twig" %}
{% endblock %}